body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

.about {
    font-size: 18px;
    font-weight: 300;
    color: gray;
    margin-bottom: 18px
}

.avatar {
    width: 190px;
    height: 190px;
    margin-bottom: 40px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 10px 10px 0px 0px black;
}

.button {
    background-color: black;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
}

.container {
    background-image: linear-gradient(to right,rgba(255,255,255,1), rgba(255,255,255,0.7)), 
    url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=3544&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    min-height: 100vh;
    padding: 128px;
}

@media screen and (max-width: 768) {
    .container {
    padding: 48px;    
    }
}
    

.content {
    max-width: 500px;
}

.name {
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

@media screen and (max-width: 768) {
    .name {
     font-size = 36px;
    }
}

.job {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.contact-info {
    display: inline-block;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 12px 24px;
    font-family: "Work Sans", sans-serif;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}